@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap
}

.page {
  height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;

  color: #333333;
  background-color: #FFFFFF;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  width: 1200px;
  margin: 0 auto;

  /* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main {
  flex-grow: 1;
}

.button {
  color: #ffffff;
  background-color: #756257;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-large {
  font-size: 20px;
}

.button-secondary {
  background-color: #83B3D3;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.navigation-list {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

/*section*/

.section-title {
  color: #000000;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages {
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-list-inner {
  color: #333333;
  background-color: #ffffff;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-large {
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-list-inner .advantages-item:nth-child(even) {
  background-color: #ffffff;
}

.advantages-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

}

.advantages-item-large > .advantages-title {
  color: #ffffff;
}

.advantages-text {
  line-height: 21px;
}


.search {
  text-align: center;
}

.main-header {
  padding: 35px 72px 80px;

  color:#ffffff;
  background-color: #83B3D3;
  background-image: url("../img/background/filter.jpg");
  background-size: cover;
}

.main-heading {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.breadcrumbs-list {
  padding: 0;
  margin: 0;
}

.catalog {
  padding: 0 72px;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
}

.catalog-title {
  width: 50%;
  margin: 0;
}

.catalog-select {
  width: 287;
  margin-right: auto;
}

.view {
  margin: 0;
  padding: 0;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.filter-reset {
  color:#FFFFFF;
  background-color: transparent;

  font-family: inherit;
  font-size: 18px;
}

.filter-form {
  display: flex;
}

.filter-list {
  padding: 0;
  margin: 0;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  width: 200px;
  margin-right: 17px;
}

.filter-fieldset-price {
  width: 287px;
  margin-left: 95px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-left: 64px;
}

.range-input {
  color: #ffffff;
  background-color: transparent;

  font-family: inherit;
  font-size: 18px;
}

.range-title {
  opacity: 0.3;
}

.subscribe {
  text-align: center;
}

.subscribe-index .section-title {
  color: #ffffff;
}

.subscribe-index {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("../img/background/subscribe.jpg");
  background-size: cover;
}

/*card*/

.card-title {
  font-size: 24px;
  line-height: 31px;
}

.card-link {
  color:#000000;

  text-decoration: none;
}

.card-rate {
  font-size: 16px;
  text-transform: uppercase;
}

.pagination-nav {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-select {
  display: flex;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #83B3D3;

  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;

  background-color: #F2F2F2;
}

.social-list {
  margin: 0;
  padding: 0;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}

.footer-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.index-promo {
  min-height: 485px;
  background-color: #83B3D3;
  background-image: url("../img/background/index-background.jpg");
}
